GEMINI_API_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=FESB Helpdesk
JWT_SECRET=
CONNECTION_STRING=Server=localhost;Database=FesbHelpdesk;Trusted_Connection=True;TrustServerCertificate=True;
